---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
  - token: {{bootStrapTokens}}
    description: "kubeadm bootstrap token"
    ttl: "24h"
    usages:
      - authentication
      - signing
    groups:
      - system:bootstrappers:kubeadm:default-node-token
localAPIEndpoint:
  advertiseAddress: {{ansible_host}}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  name: {{ansible_host}}
  taints: null

---

apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
imageRepository: registry.k8s.io
kubernetesVersion: {{kubernetes_version}}
apiServer:
  timeoutForControlPlane: 4m0s
certificatesDir: /etc/kubernetes/pki
clusterName: {{cluster_name}}
controllerManager: {}
dns: {}
etcd:
  local:
    dataDir: /var/lib/etcd
networking:
  podSubnet: {{ClusterCIDR}}
  dnsDomain: cluster.local
  serviceSubnet: 10.96.0.0/12
scheduler: {}
