name: Lint Directory Structure

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint Directory Structure
        run: |
          # Define the expected directory structure
          expected_dirs=(
            "01-docker/dockerfile-example"
            "01-docker/compose-example"
            "02-kubernetes/cluster-autoscaler"
            "02-kubernetes/open-policy-agent"
            "02-kubernetes/cert-manager"
            # "02-kubernetes/services"
            "02-kubernetes/ingress"
            "03-ci-cd/jenkins"
            "03-ci-cd/github-actions"
            "03-ci-cd/gitlab-ci"
            "04-terraform/aws"
            "04-terraform/gcp"
            "04-terraform/modules"
            "05-ansible/roles"
            "05-ansible/playbooks"
            "06-monitoring/prometheus"
            "06-monitoring/grafana"
            "06-monitoring/loki"
            "07-sre/slos"
            "07-sre/playbooks"
            "07-sre/chaos-engineering"
            "08-golang/basics"
            "08-golang/sample-app"
            "09-secrets/akeyless"
            "10-artifacts/nexus"
            "10-artifacts/artifactory"
            "10-artifacts/akeyless"
          )

          # Check if each directory exists
          for dir in "${expected_dirs[@]}"; do
            if [ ! -d "$dir" ]; then
              echo "....... Directory $dir is missing! ....."
              exit 1
            fi
          done

          echo "All directories are correctly structured!"
